@use 'base/mixins' as m;
@use 'base/variables' as v;

.contacto {
     
    &__formulario {
        @include m.contenedor-md;
        @include m.shadow;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    }
}