@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    background-color: v.$negro;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: auto; 

    &__logo {
        width: 258px;
        height: 207px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; 

        img {
            width: 258px;
            height: 207px;
            object-fit: contain;
            display: block;
            pointer-events: auto;
            z-index: 1;
        }
    }

    &__nav-login {
        position: static; 
        margin-top: 1rem; 
        @include m.enlace;
        margin-bottom: 1.5rem;
            &--actual {
            color: v.$azul;
            }

        @include m.tablet {
            white-space: nowrap;
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 0; 
        }
    }
}

.mobile-menu {
    display: flex;
    justify-content: center;
    background-color: lighten(v.$negro, 10%);
    cursor: pointer;
    @include m.tablet {
        display: none;
    }
    img {
        width: 5rem;
    }
}



.navegacion {

    &__contenedor {

        &--mostrar {
        visibility: visible;
        opacity: 1;
        height: auto;
        }
        
        height: 0;
        opacity: 0;
        transition: visibility .3s ease-in-out, opacity .5s linear, height .5s linear;
        visibility: hidden;
        background-color: lighten(v.$negro, 10%);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        :nth-child(odd) {
            background-color: lighten(v.$negro, 15%);
            width: 100%;
            @include m.tablet {
                width: auto;
            }
            padding: 1rem;
            text-align: center;
        }
        @include m.tablet {
            visibility: visible;
            opacity: 1;
            height: auto;
            position: relative;
            z-index: 2;
            background-color: lighten(v.$negro, 10%);
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 25rem;
            padding: 0.5rem ;
            :nth-child(odd) {
                background-color: transparent;
            }
        }
    }

   
        &__enlace {
            font-size: 1.8rem;
            @include m.enlace;

            &--actual {
            color: v.$azul;
            }
        }
     
}

